<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <div class="input-group">
     <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">{{ form_label(form.current_password) }}</span></span>
    {{ form_widget(form.current_password,{'attr':{'class':'form-control input-lg'} }) }}
       </div><!-- End .input-group -->
       <div class="input-group">
    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">{{ form_label(form.new.first) }}</span></span>
    {{ form_widget(form.new.first,{'attr':{'class':'form-control input-lg'} }) }}
      </div><!-- End .input-group -->
       <div class="input-group">
      <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">{{ form_label(form.new.second) }}</span></span>
    {{ form_widget(form.new.second,{'attr':{'class':'form-control input-lg'} }) }}
      </div><!-- End .input-group -->
      <div class="xs-margin"></div><!-- space -->
    <div>
        <input type="submit" id="_submit" class="btn btn-custom-2 btn-lg md-margin" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
