{% extends "PiPiBundle::layout.html.twig" %}

{% block content %}
{%set nbr =0%}
                                                         
                                                                {%set prix=0%}
                                                               {%set prixf=0%}
                                                           {%for key,i in app.session.get('prix')%} {%set prix =app.session.get('quantite')[key]*(i-((i*app.session.get('red')[key])/100))%}{%set prixf= prix+prixf%}{%endfor%}
<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="content-title">
                    <h1 class="title">Checkout</h1>
                    <p class="title-desc">Quisque elementum nibh at dolor pellentesque, a eleifend libero pharetra.</p>
                </header>
                <div class="xs-margin"></div><!-- space -->
                <div class="table-responsive">
                    <table class="table checkout-table">
                        <thead>
                            <tr>
                                <th class="table-title">Produit</th>
                                <th class="table-title">Réduction</th>
                                <th class="table-title">Prix</th>
                                <th class="table-title">Quantity</th>
                                <th class="table-title">Total</th>
                            </tr>
                        </thead>

                        <tbody>
                             {%if app.session.get('liste') is  defined and app.session.get('liste') is not null%}
                     
                            {%for key,i in app.session.get('nom')%}
                            <tr>
                                <td class="item-name-col">
                                    <figure>
                                        <a href="#"><img src="{{asset('bundles/PiPi/images/'~app.session.get('image')[key])}}" style="width: 250px;height: 300px;" alt="Lowlands Lace Blouse"></a>
                                    </figure>
                                    <header class="item-name"><a href="#">{{i}}</a></header>
                                  
                                </td>
                                <td class="item-code">{{app.session.get('red')[key]}} %</td>
                                <td class="item-price-col"><span class="item-price-special">${{app.session.get('prix')[key]-((app.session.get('prix')[key]*app.session.get('red')[key])/100)}}</span></td>
                                <td>
                                    <div class="custom-quantity-input">
                                        <input type="text" name="quantity" value="{{app.session.get('quantite')[key]}}">
                                        <a href="#" onclick="return false;" class="quantity-btn quantity-input-up"><i class="fa fa-angle-up"></i></a>
                                        <a href="#" onclick="return false;" class="quantity-btn quantity-input-down"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </td>
                                <td class="item-total-col"><span class="item-price-special">${{app.session.get('quantite')[key] * (app.session.get('prix')[key]-((app.session.get('prix')[key]*app.session.get('red')[key])/100))}}</span>
                                    <a href="#" class="close-button"></a>
                                </td>
                            </tr>
                           
{%endfor%}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="checkout-total-title" colspan="4"><strong>TOTAL:</strong></td>
                                <td class="checkout-total-price cart-total"><strong>${{prixf}}</strong></td>
                            </tr>
                        </tfoot>
                        {%else%}
                           <h3>Aucun Item Sélèctionner</h3>
                            
                        {%endif%}
                    </table>

                </div><!-- End .table-reponsive -->
                 {%if app.session.get('liste') is  defined and app.session.get('liste') is not null%}
              
                <div class="lg-margin"></div><!-- space -->
                <div class="text-right">
                    <a href="{{path('pi_pi_reservation')}}" class="btn btn-custom-2" >Confirmer</a>
                </div>
                {%endif%}
      

    </div><!-- End .panel -->

<div class="xlg-margin"></div><!-- space -->

</div><!-- End .row -->
</div><!-- End .container -->

</section><!-- End #content -->
{%endblock%}